## eikon api를 활용하여 .py 구현 이전 기능 검증용 jupyter notebook

In [1]:
import os
os.chdir('../')

In [2]:
print("현재 디렉토리 " , os.getcwd())

현재 디렉토리  d:\MyProject\hbalgotrading

In [3]:
import eikon as ek
from dotenv import load_dotenv

load_dotenv()

True

In [4]:
APP_KEY = os.environ.get("EIKON_API_KEY", "eikon_api_key")
asset = "10TBc1"
ek.set_app_key(APP_KEY)

In [22]:
response = ek.get_timeseries(asset, interval="minute", count=1)
response

10TBc1                 HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2022-11-15 06:46:00  109.46  109.46  109.46  109.46      1    1272

In [23]:
response.columns.name

'10TBc1'

In [28]:
response.to_dict('tight')

{'index': [Timestamp('2022-11-15 06:46:00')],
 'columns': ['HIGH', 'LOW', 'OPEN', 'CLOSE', 'COUNT', 'VOLUME'],
 'data': [[109.46, 109.46, 109.46, 109.46, 1, 1272]],
 'index_names': ['Date'],
 'column_names': ['10TBc1']}

In [21]:
response.rename_axis('test', axis='columns', inplace=True)
response

test                   HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2022-11-15 06:46:00  109.46  109.46  109.46  109.46      1    1272

In [6]:
type(response)

pandas.core.frame.DataFrame

In [7]:
data = response.reset_index().to_dict(orient='records')[0]
data

{'Date': Timestamp('2022-11-15 06:46:00'),
 'HIGH': 109.46,
 'LOW': 109.46,
 'OPEN': 109.46,
 'CLOSE': 109.46,
 'COUNT': 1,
 'VOLUME': 1272}

In [ ]:
ts = data["Date"]

In [ ]:
ts.tz_localize('UTC').tz_convert('Asia/Seoul').strftime('%Y-%m-%dT%X')

In [ ]:
data = response.reset_index().to_dict(orient='records')
data