In [31]:
import os
import eikon as ek
from dotenv import load_dotenv

load_dotenv()

True

In [32]:
APP_KEY = os.environ.get("EIKON_API_KEY", "eikon_api_key")
asset = "10TBc1"
ek.set_app_key(APP_KEY)

In [34]:
response = ek.get_timeseries(asset, interval="minute", count=1)
response

10TBc1                 HIGH     LOW    OPEN   CLOSE  COUNT  VOLUME
Date
2022-10-26 06:46:00  105.69  105.69  105.69  105.69      1    2210

In [35]:
type(response)

pandas.core.frame.DataFrame

In [36]:
data = response.reset_index().to_dict(orient='records')[0]
data

{'Date': Timestamp('2022-10-26 06:46:00'),
 'HIGH': 105.69,
 'LOW': 105.69,
 'OPEN': 105.69,
 'CLOSE': 105.69,
 'COUNT': 1,
 'VOLUME': 2210}

In [37]:
ts = data["Date"]

In [38]:
ts.tz_localize('UTC').tz_convert('Asia/Seoul').strftime('%Y-%m-%dT%X')

'2022-10-26T15:46:00'

In [39]:
data = response.reset_index().to_dict(orient='records')
data

[{'Date': Timestamp('2022-10-26 06:46:00'),
  'HIGH': 105.69,
  'LOW': 105.69,
  'OPEN': 105.69,
  'CLOSE': 105.69,
  'COUNT': 1,
  'VOLUME': 2210}]